<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item >
      <ion-icon slot="start" name="mail"></ion-icon>
      <a href="mailto:amckenzie2@live.maryville.edu">Send us a Message</a>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <a href="tel:1-800-555-5555">Call us at 1-800-555-5555</a>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="globe"></ion-icon>
      <a href="https://www.alexthedeveloper.com/">Visit our Website</a>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="logo-github"></ion-icon>
      <a href="https://www.github.com/hereisalex">Check us out on GitHub</a>
    </ion-item>
  </ion-list>
</ion-content>
